<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.serviceModel>
		<bindings xdt:Transform="Insert">
			<webHttpBinding >
				<binding >
					<security mode="TransportCredentialOnly">
						<transport clientCredentialType="Windows"/>
					</security>
				</binding>
			</webHttpBinding>
		</bindings>
		<diagnostics xdt:Transform="Insert">
			<messageLogging logEntireMessage="false" logMalformedMessages="false" logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="false" />
		</diagnostics>
		<behaviors xdt:Transform="Insert">
			<serviceBehaviors>
				<behavior name="">
					<serviceCredentials>
						<serviceCertificate storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" findValue="D2E545609D203EC50CC76D8216A56811CB21BE3A" />
					</serviceCredentials>
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<system.webServer xdt:Transform="Insert">
		<modules runAllManagedModulesForAllRequests="true" />
		<validation validateIntegratedModeConfiguration="false" />
		<tracing>
			<traceFailedRequests>
				<add path="*">
					<traceAreas>
						<add provider="ASP" verbosity="Verbose" />
						<add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
						<add provider="ISAPI Extension" verbosity="Verbose" />
						<add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,Rewrite" verbosity="Verbose" />
					</traceAreas>
					<failureDefinitions statusCodes="401.3-999" verbosity="Error" />
				</add>
			</traceFailedRequests>
		</tracing>
	</system.webServer>

	<system.web xdt:Transform="Replace">
		<customErrors mode="Off" />
		<compilation targetFramework="4.0" />
		<identity impersonate="false" />
	</system.web>
	<applicationSettings>
		<UCLMDTCustomizations.Properties.Settings xdt:Transform="Replace">
			<setting name="Configuration" serializeAs="String" >
				<value>\\ad.ucl.ac.uk\slms\utilities\DeviceConfig\Clients\Config.xml</value>
			</setting>
			<setting name="NumberIncrement" serializeAs="String">
				<value>Data Source="C:\\inetpub\\wwwroot\\UCLMDTCustomizations\\counter.s3db";Version=3;New=False;</value>
			</setting>
		</UCLMDTCustomizations.Properties.Settings>
	</applicationSettings>
	<system.diagnostics xdt:Transform="Insert">
		<sources>
			<source propagateActivity="true" name="System.ServiceModel" switchValue="Warning, ActivityTracing">
				<listeners>
					<add name="AppFabricTracing" />
				</listeners>
			</source>
			<source propagateActivity="true" name="System.Activities" switchValue="Warning, ActivityTracing">
				<listeners>
					<add name="AppFabricTracing" />
				</listeners>
			</source>
			<source name="System.ServiceModel.MessageLogging">
				<listeners>
					<add name="AppFabricMessageLogging" />
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add name="AppFabricTracing" initializeData="E:\MDT\Logs\Server\AppFabric\Tracing.log" type="System.Diagnostics.XmlWriterTraceListener" />
			<add name="AppFabricMessageLogging" initializeData="E:\MDT\Logs\Server\AppFabric\MessageLog.svclog" type="System.Diagnostics.XmlWriterTraceListener" />
		</sharedListeners>
	</system.diagnostics>
	<microsoft.applicationServer xdt:Transform="Insert">
		<sources>
			<source propagateActivity="true" name="System.ServiceModel" switchValue="Warning, ActivityTracing">
				<listeners>
					<add name="AppFabricTracing" />
				</listeners>
			</source>
			<source propagateActivity="true" name="System.Activities" switchValue="Warning, ActivityTracing">
				<listeners>
					<add name="AppFabricTracing" />
				</listeners>
			</source>
			<source name="System.ServiceModel.MessageLogging">
				<listeners>
					<add name="AppFabricMessageLogging" />
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add name="AppFabricTracing" initializeData="E:\MDT\Logs\Server\AppFabric\Tracing.log" type="System.Diagnostics.XmlWriterTraceListener" />
			<add name="AppFabricMessageLogging" initializeData="E:\MDT\Logs\Server\AppFabric\MessageLog.svclog" type="System.Diagnostics.XmlWriterTraceListener" />
		</sharedListeners>
	</microsoft.applicationServer>
</configuration>