<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UCLMDTCustomizations.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" />
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true" />
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <applicationSettings>
    <UCLMDTCustomizations.Properties.Settings>
      <setting name="Configuration" serializeAs="String">
        <value>Config.xml</value>
      </setting>
      <setting name="NumberIncrement" serializeAs="String">
        <value>Data Source=C:\\inetpub\\wwwroot\\UCLMDTCustomizations\\counter.s3db;Version=3;New=False;</value>
      </setting>
      <setting name="AMQPHost" serializeAs="String">
        <value>slmsamqp01.ad.ucl.ac.uk</value>
      </setting>
      <setting name="AMQPExchange" serializeAs="String">
        <value>logs</value>
      </setting>
      <setting name="AMQPUsername" serializeAs="String">
        <value>LogServers</value>
      </setting>
      <setting name="AMQPPassword" serializeAs="String">
        <value>*****</value>
      </setting>
      <setting name="AMQPVhost" serializeAs="String">
        <value>/logs</value>
      </setting>
    </UCLMDTCustomizations.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.267.0" newVersion="2.1.267.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/Models.MDTMonitor.csdl|res://*/Models.MDTMonitor.ssdl|res://*/Models.MDTMonitor.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Inventory;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>